@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebbShop.Pages.CartPageModel
@{
}

@if (Model.CartListProducts.Count == 0)
{
    <div class="position-relative">
        <div class="mx-auto h-100 p-5 p-md-5">
            <h1 class="text-center">Your cart is Empty!</h1>
            <div class="text-center">
                <a asp-page="/Index" class="btn-link text-center">click here to see products</a>
            </div>
        </div>
    </div>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var item in Model.CartListProducts)
            {
                <tr>
                    <th>
                        <a asp-page="/ProductDetail" asp-route-id="@item.Id" class="btn btn">
                            @{
                                var img = item.ImageFile.First(i => i.product == item);
                                if (img.DataFiles == null)
                                {
                                    <img src="@img.Filename" style="width:50%" alt="" />
                                }
                                else
                                {
                                    string imageBase64Data = Convert.ToBase64String(img.DataFiles);
                                    string ImageUrl = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                                    <img src="@ImageUrl" style="width:70%;" alt="">
                                }
                            }
                        </a>
                    </th>
                    <td>@item.Description</td>
                    <td>@item.Category.Name</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="container">
        <div class="col text-right">
            <b class="h1">Totalt: @Model.Sum SEK</b>
        </div>
        <a asp-page="/CheckOut"></a>
    </div>

}
