@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul class="nav justify-content-center">
    @foreach (var category in Model.categories)
    {
        <li class="nav-item p-2">
            <a asp-page="/Category" asp-route-id="@category.Id" class="btn btn-light">@category.Name</a>
        </li>

    }
</ul>
<div class="row">
    @foreach (var item in Model.products)
    {


        <div class="column col-md-3 p-3">
            <a asp-page="/ProductDetail" asp-route-id="@item.Id" class="btn btn" style="max-height:500px; min-height:500px">
                <div class="text-center p-4" style="height:250px;">
                    <div class="d-flex justify-content-center">
                        @{
                            var img = item.ImageFile.First(i => i.product == item);
                            if (img.DataFiles == null)
                            {
                                <img src="@img.Filename" style="width:70%" alt="" />
                            }
                            else
                            {
                                string imageBase64Data = Convert.ToBase64String(img.DataFiles);
                                string ImageUrl = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                                <img src="@ImageUrl" style="width:70%;" alt="">
                            }
                        }

                    </div>
                </div>
                <div class="text-left p-2" style="min-height:150px; max-height:200px">
                    <p class="card-title">@item.Name</p>
                </div>
                <div class="text-right p-2">
                    <p class="card-text font-weight-bold">@item.Price kr</p>
                </div>
            </a>
        </div>
    }
</div>