@page
@model WebbShop.Pages.ProductDetailModel
@{
    ViewData["Title"] = "Produkt";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>@Model.Name</h3>
            <div class="card-img p-4">
                <img src="@Model.Image" style="max-width:35%; min-width:20%;" />
            </div>
            <div class="col card-text text-right">
                <b style="font-size:28px;">@Model.Price kr</b>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="align-self-start">
            <div class="col">
                <h3>Description</h3>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
    @*<a asp-page="/Category" asp-route-id="@Model.Category.Id">@Model.Category.Name</a>*@
</div>
