@page
@model WebbShop.Pages.ProductDetailModel
@{
    ViewData["Title"] = "Produkt";
}
<svg xmlns="http://www.w3.org/2000/svg" style="color: cornflowerblue;" width="20" height="20" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
</svg>
<a href='javascript:history.go(-1)' class="btn btn-link">Back</a>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>@Model.Name</h3>
            <p>
                <a asp-page="/Category" asp-route-id="@Model.Category.Id">@Model.Category.Name</a>
            </p>
            <div class="card-img p-4">
                <img src="@Model.Image" style="max-width:35%; min-width:20%;" />
            </div>
            <div class="col card-text text-right">
                <b style="font-size:28px;">@Model.Price kr</b>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="align-self-start">
            <div class="col">
                <h3>Description</h3>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>
